/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

 /* Base Styles */
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.header,
.banner,
.info,
.courses,
.thesis-exhibit,
.footer {
  display: flex;
  flex-wrap: wrap;
}

.header__container,
.header__nav--mobile,
.banner__container,
.info__container,
.courses__list,
.thesis-exhibit__container,
.footer{
  width: 100%;
}

/* Specific Section Styles */
.header {
  background-color: #f8f8f8;
  height: 64px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}
.header__logo {
  display: none;
}

.header__title {
  margin-left: 10px;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__nav--desktop {
  display: none;
}

.header__nav--mobile {
  display: block;
}

.header__nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header__nav-item {
  margin-left: 10px;
}

.header__nav-link {
  text-decoration: none;
  color: #333;
}
img,
video {
  max-width: 100%;
  height: auto;
  overflow: hidden;
}
/* banner Section Styles */

.banner {
  background-color: lightgray;
  flex: 1;
  flex-direction: column;
}

.banner__container--left {
  display: flex;
  flex: 1;
  padding: 0;
  margin: 0;
}

.banner__container--right {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0 16px;
}
.banner__title {
  font-size: 2rem;
  color: #333;
  margin-top: 32px;
}

.banner__subtitle {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 24px;
  margin-top: 32px;
}

.banner__button {
  display: block;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  margin-bottom: 32px;
}

/* Info  Section Styles */
.info__container {
 margin: 0;
 padding: 0;
}
.info__container--left {
  background-color: #eaeaea;
  display: none;
}

.info__container--right {
  display: flex;
  flex-direction: column;
  
}

.info__article {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 64px;

}

.info__image-small {
  display: none;
}

.info__image-small--mobile {
  width: 100%;
  height: auto;
  display: flex;
  flex: 1;
}

.info__text-small {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  margin-top: 32px;
}

.info__details {
  font-size: 0.875rem;
  color: #333;
  line-height: 1.5;
  display: block;
  margin: 8px 0;
}



/* Courses Section Styles */
.courses {
  margin-top: 0;
}

.courses__title {
  margin: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 16px;
}

.course {
  display: block;
  width: 100%;
  margin-bottom: 32px;
}

.course__image {
  width: 100%;
  height: auto;
  display: none;
}

.course__title {
  padding: 16px 16px 24px;
  background-color: lightgray;
  margin: 0 16px 8px 16px;
}

.course__subtitle,
.course__description {
  display: none;
}


/* Thesis Section Styles */
.thesis-exhibit {
  flex-direction: column;
  margin-bottom: 24px;
}

.thesis-exhibit__title {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 24px;
}

.thesis-exhibit__container--right {
  display: none;
}

.thesis-exhibit__container--left {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.thesis-exhibit__video {
  width: 100%;
}

.thesis-exhibit__video-text {
  display: none;
}

.thesis-exhibit__video-title {
}

/* footer  Section Styles */

.footer {
  background-color: #fff;
  color: #333;
  padding: 16px 20px;
  text-align: center;
}

.footer__terms-privacy {
  display: none;
}

.footer__link {
  color: blue;
  text-decoration: none;
}

/* Media Queries */


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }

  .header__container {
      display: flex;
      justify-content: space-between;
  }
  .header__nav--desktop {
      display: flex;
  }

  .header__logo {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    
    }

  .header__nav--mobile {
      display: none;
  }
/* banner section desktop */
  .banner {
    background-color: #f4f4f4;
    flex-direction: row;
  }

  .banner__container--left {
      width: 60%;
      display: block;
  }

  .banner__container--right {
      width: 40%;
      flex-direction: column;
  }
/* info section desktop  */


  .info__container--left {
      width: 60%;
      display: block;
  }

  .info__container--right {
      width: 40%;
      display: flex;
      flex-direction: column;
  }
  .info__article {
    display: flex;
    flex-direction: row;
  }
  .info__image-small {
    width: 35%;
    display: block;
  }

  .info__image-small--mobile {
    display: none;
  }

  .info__text-small {
    width: 65%;
    display: flex;
    flex-direction: column;
  }
 
/* course section  desktop */

.courses {
  padding: 32px 72px;
  background-color: lightgray;
}
.courses__list {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Adjust the gap as needed */
  justify-content: center; /* Center the items horizontally */
  align-items: stretch; /* Stretch items to fill the container height */
}

.course {
  flex: 0 1 calc(33.333% - 32px); /* Adjust the flex-basis to control the card width, subtracting twice the gap */
  display: flex;
  flex-direction: column; /* Stack the image and text vertically */
  align-items: stretch; /* Stretch children to match the width of the container */
  background-color: #fff; /* Card background color */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Card shadow */
  border-radius: 8px; /* Rounded corners for the card */
  overflow: hidden; /* Ensures content respects border radius */
}

.course__image {
  display: block;
  width: 100%;
  height: auto; /* Adjust height as needed, or consider a fixed height for consistency */
  object-fit: cover; /* Ensure images cover the area, might crop */
}

.course__text {
  padding: 16px; /* Adjust padding as needed */
  flex-grow: 1; /* Allow text container to fill available space */
}

.course__title { 
  background-color: transparent;
  margin: 0;
  padding: 0;
}
.course__subtitle{
  margin: 8px 0;
}

  .course__subtitle,
  .course__description {
    display: block;
  }

  /* thesis  section  desktop */

  .thesis-exhibit__container {
      display: flex;
      flex-direction: row;
  }
  .thesis-exhibit__container--left {
      width: 60%;
  }

  .thesis-exhibit__container--right {
      width: 40%;
      display: block;
  }
  .thesis-exhibit__article {
    display: flex;
    flex-direction: row;
  }

  .thesis-exhibit__image-small {
    width: 35%;
    display: block;

  }
  .thesis-exhibit__text-small {
    width: 65%;
    display: flex;
    flex-direction: column;
  }
  .thesis-exhibit__subtitle {
    font-size: 0.875rem;
  }
  .thesis-exhibit__details {
    font-size: 0.875rem;
  }
}

@media (max-width: 767px) {
  .banner__container--left,
  .banner__container--right,
  .info__container--left,
  .info__container--right,
  .course,
  .thesis-exhibit__container--left,
  .thesis-exhibit__container--right {
      width: 100%;
  }
}