html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 2rem;
    margin-bottom: 16px;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 8px;
}

p {
    font-size: 0.7em;
}
/* Header Styles */
header {
    background-color: white;
    height: 64px; /* Set the fixed height of the header */
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* Adjust horizontal padding as needed */
    max-width: 1200px;
    margin: auto;
    height: 100%; /* Ensures the container uses the full height of the header */
}

.logo {
    display: flex;
    align-items: center;
}

.logo a {
    display: flex;
    align-items: center;
    color: black;
    font-size: 1.8em;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase; /* Make text uppercase */
}

.logo-img {
    width: 40px; /* Adjust the size as needed */
    height: auto;
    margin-right: 10px;
}

span.bold-text {
    font-weight: bold;
    color: #ff5722;
}

.nav-menu ul {
    display: flex;
    gap: 20px;
}

.nav-menu ul li {
    list-style: none;
}

.nav-menu a {
    color: black;
    font-size: 0.7rem;
    transition: color 0.3s ease;
    text-transform: uppercase; /* Make text uppercase */
}

.nav-menu a:hover {
    color: #f0f0f0;
}

.cta {
    background-color: #ff5722;
    color: #fff;
    font-size: medium;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-transform: uppercase; /* Make text uppercase */
    width: 100%;
}

.cta:hover {
    background-color: #e64a19;
}


/* Hero Section Styles */
.hero-container {
    position: relative;
    top: 64px; /* Set the top position of the hero container */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#about .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 32px;
    background-color: gainsboro;
}

#about .image-col {
    width: 60%;
    padding-right: 12px;
}

.image-col img {
    width: 100%;
    height: auto;
}

#about .text-col {
    width: 40%;
    padding-left: 12px;
}

/* intro  Section Styles */

.intro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#intro .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: white;
}

#intro .content-color {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: gainsboro;
}

#intro .image-col {
    width: 35%;
    padding-right: 8px;
}

.image-col img {
    width: 100%;
    height: auto;
}

#intro .text-col {
    width: 65%;
    padding-left: 8px;
}

#intro a {
    color: blue;
    text-decoration: underline;
    font-size: 0.7rem;

}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0 20px;
}

.footer-section {
    margin-bottom: 20px;
}

.footer-section h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.footer-section p {
    margin: 5px 0;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section a:hover {
    color: #ff5722;
}

.social-links {
    display: flex;
    gap: 10px;
}

.social-links a img {
    width: 24px;
    height: 24px;
    filter: invert(100%);
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #444;
    padding-top: 10px;
    font-size: 0.9em;
    color: #bbb;
}